###############################################################################
# License: BSD Zero Clause License file
# Copyright:
#   (C) 2008 - 2021 Alex Butcher <alex dot butcher 'at' assursys.co.uk>
#   (C) 2008 - 2021 Alexander Shaduri <ashaduri@gmail.com>
###############################################################################

*/10 * * * * root /usr/local/bin/cron-smart.sh /dev/sda
*/10 * * * * root /usr/local/bin/cron-smart.sh /dev/sdb
