---
---

@import "";

div.addons-wrap {
	display: none !important;
}

div.navigation-top {
	display: none !important;
}

div.content > hr {
	display: none !important;
}

a.caption {
	text-transform: none !important;
	padding-left: 12px !important;
	padding: .5em !important;
	color: #fff !important;
	font-weight: normal !important;
}

