Source: gsmartcontrol
Section: utils
Priority: extra
Homepage: https://gsmartcontrol.sourceforge.io/
Maintainer: Alexander Shaduri <ashaduriREMOVETHIS@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev,
 libpcre3-dev, libgtkmm-3.0-dev (>= 3.4.0)
Standards-Version: 3.7.3

Package: gsmartcontrol
Architecture: any
Depends: ${shlibs:Depends}, smartmontools (>= 5.43), menu
Description: Hard disk drive and SSD health inspection tool
 GSmartControl is a graphical user interface for smartctl (from smartmontools
 package), which is a tool for querying and controlling SMART
 (Self-Monitoring, Analysis, and Reporting Technology) data on modern hard
 disk and solid-state drives. It allows you to inspect the drive's SMART data
 to determine its  health, as well as run various tests on it.
